@font-face {
  font-family: 'Conv_AvertaDemoPECuttedDemo-Regular';
  src: url('../fonts/AvertaDemoPECuttedDemo-Regular.eot');
  src: url('../fonts/AvertaDemoPECuttedDemo-Regular.woff')
      format('woff'),
    url('../fonts/AvertaDemoPECuttedDemo-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --container-length: 77rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
li {
  list-style: none;
}

input[type='checkbox'],
input[type='radio'],
input[type='submit'],
button[type='button'] {
  appearance: none;
}

button {
  background: transparent;
}

html,
body {
  width: 100%;
}

body {
  min-height: 100vh;
  background-color: #fefefe;
  font-family: 'Conv_AvertaDemoPECuttedDemo-Regular';
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: var(--container-length);
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header
========= */

header {
  color: #000000;
}

.header__container {
  padding-top: calc(0.8rem + 1.825 * (100vw - 20rem) / 70);
  padding-bottom: calc(0.75rem + 1.75 * (100vw - 20rem) / 70);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.logo {
  font-size: 27px;
  line-height: 1.24;
}

.logo > span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.menu__list {
  display: flex;
}

.menu__link {
  line-height: 1.25;
  font-size: inherit;
  letter-spacing: 0.01em;
  -webkit-text-stroke: #000000 0.2px;

  transition: color 0.3s linear;
}
@media screen and (min-width: 768px) {
  .header__menu {
    flex: 0 1 645px;
  }

  .menu__list {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .menu__link:hover {
    -webkit-text-stroke-width: 0.5px;
    color: #ffffff;
  }
}
@media screen and (max-width: 767.98px) {
  .header__container {
    position: relative;
  }

  .header__menu {
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    transition: top 0.5s ease-in;
  }

  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    flex: 1 1 auto;
  }

  .menu__link:active {
    background-color: #606060;
  }
  .menu__link {
    display: inline-block;
    width: 100%;
    height: 100%;

    text-align: center;
    line-height: calc(100vh / 6);
    font-size: 1.25rem;
  }

  .menu__text {
    display: block;
    height: 100%;
    width: 100%;
  }

  .menu-burger__input:checked:checked ~ .header__menu {
    top: 0;
  }
}

/* Menu-burger
============== */

.menu-burger__input,
.menu__burger {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .menu__burger {
    position: relative;
    z-index: 20;
    display: block;
    transition-property: height;
  }

  .menu__burger,
  .menu__burger::after,
  .menu__burger::before {
    content: '';

    height: 5px;
    width: 40px;

    background: #000000;
    transition: 0.35s ease;
  }

  .menu__burger::after,
  .menu__burger::before {
    position: absolute;
    top: 0;
    left: 0;
    transition-property: transform;
  }

  .menu__burger::after {
    transform: translateY(12px);
  }

  .menu__burger::before {
    transform: translateY(-12px);
  }

  .menu-burger__input:checked ~ .menu__burger {
    height: 0;
  }

  .menu-burger__input:checked ~ .menu__burger::after {
    transform: rotateZ(45deg);
  }

  .menu-burger__input:checked ~ .menu__burger::before {
    transform: rotateZ(-45deg);
  }
}

/* Title
======== */
.title {
  font-size: 40px;
  line-height: 1.225;
  color: #000000;
  -webkit-text-stroke: 1px #000000;
}

@media screen and (max-width: 767.98px) {
  .title {
    text-align: center;
  }
}
@media screen and (max-width: 1440px) {
  .title {
    font-size: calc(1.5rem + (100vw - 20rem) / 70);
  }
}

/* ===== Text ===== */
.text {
  font-size: 16px;
  line-height: 1.6;

  color: #565656;
}

.text-big {
  font-size: 18px;

  color: #757575;
}

/* ===== Btn ===== */
.btn {
  display: inline-block;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.065em;
  -webkit-text-stroke: 0.5px #ffffff;

  color: #ffffff;
  background: #2639ed;
  border-radius: 60px;
  padding: 12.5px 20px;
  cursor: pointer;

  transition: background-color 0.2s linear;
}
.btn:hover {
  background: #3e4fe6;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 20px 40px;
  }
}

/* ===== Circle-decor ===== */
@media screen and (min-width: 768px) {
  .circle-decor {
    position: relative;
  }
  .circle-decor::after {
    content: '';
    display: block;
    height: 120px;
    width: 120px;

    border: 8.8px solid #ff007a;
    border-radius: 50%;

    position: absolute;
  }
}

/* ===== Sector-decor ===== */
@media screen and (min-width: 768px) {
  .sector-decor {
    position: relative;
  }
  .sector-decor::after {
    content: '';

    display: inline-block;
    height: 178px;
    width: 178px;
    background: #fff5db;
    border-top-left-radius: 100px;

    position: absolute;
  }
}

/* ===== Fill-circle-decor ===== */
@media screen and (min-width: 768px) {
  .fill-circle-decor {
    position: relative;
  }
  .fill-circle-decor::before {
    content: '';
    display: block;
    height: 130px;
    width: 130px;

    background: #dae9ff;
    border-radius: 50%;
    position: absolute;
  }
}

/* Intro
======== */

.intro {
  padding-bottom: calc(1.5rem + 4.5 * (100vw - 20rem) / 70);
}

.intro__inner {
  padding-top: calc(0.625rem + 7 * (100vw - 20rem) / 70);
  padding-bottom: calc(1.5625rem + 5 * (100vw - 20rem) / 70);
}

.intro__title {
  margin-bottom: calc(1rem + 1.5 * (100vw - 20rem) / 70);
}

.intro__text {
  margin-bottom: 35px;
}

.intro__image-block img {
  max-width: 100%;
}

@media screen and (max-width: 767.98px) {
  .intro__image-block {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    overflow: hidden;
  }

  .intro__content {
    flex: 0 0 100%;
    background: url(../images/Elipses-decor.png) no-repeat;
    background-position: calc(0.625rem + 3.75 * (100vw - 48rem) / 42) bottom;
  }

  .intro__container.fill-circle-decor::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .intro__container.sector-decor::after {
    border-radius: 0 0 6.25rem;

    right: 1rem;
    bottom: -6rem;
  }

  .intro__inner {
    width: 50%;
    padding-right: calc(1.5rem + 4.5 * (100vw - 48rem) / 42);
    position: relative;
  }

  .intro__image-block {
    flex: 0 0 50%;
    transform: translateX(-100%);

    position: relative;
  }

  .intro__image-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 12.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .intro__inner {
    padding-right: 6rem;
  }
}

/* Our-client
============= */
.our-client {
  margin-bottom: calc(1.5rem + 4.5 * (100vw - 20rem) / 70);
}

.our-client__title {
  margin-bottom: 1rem;
}

.our-client__logo-block:last-child {
  padding-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .our-client__container {
    display: flex;
    gap: calc(1.75rem + 2 * (100vw - 48rem) / 42);
  }

  .our-client__info {
    flex: 0 0 335px;
  }

  .our-client__logos {
    flex: 1 1 auto;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 60px;
  }

  .our-client__logo-block {
    flex: 1 1 calc(25% - 180px);
  }

  .our-client__logo-block img {
    min-width: 100%;
  }
}

@media screen and (max-width: 991.98px) {
  .our-client__logo-block {
    flex-basis: calc(50% - 40px);
  }
}
@media screen and (max-width: 767.98px) {
  .our-client__info {
    margin-bottom: 1.5rem;
  }
  .our-client__logo-block,
  .our-client__text {
    text-align: center;
  }

  .our-client__logo-block:not(:last-child) {
    margin-bottom: 1rem;
  }

  .our-client__logo-block img {
    width: 40%;
  }
}

/* Service
========== */
.service {
  margin-bottom: calc(2rem + 7.125 * (100vw - 20rem) / 70);
}

.service__title {
  margin-bottom: calc(1rem + (100vw - 48rem) / 42);
}

.service__content {
  margin-bottom: calc(1.5rem + 1.5 * (100vw - 20rem) / 70);
}

.plan {
  text-align: center;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding: 2.5rem 2rem 3.5rem;
  page-break-inside: avoid;
  margin-bottom: 1.9rem;
}

.plan__icon-block {
  display: inline-block;
  padding: 24px;
  margin-bottom: 2rem;

  border-radius: 20px;
}

.blue {
  background: #f1f7ff;
}
.cream {
  background: #fff7e3;
}
.orange {
  background: #fff2f8;
}
.green {
  background: #deffee;
}

.plan__title {
  font-size: 24px;
  line-height: 1.25;
  color: #000000;
  -webkit-text-stroke: 0.3px #000000;

  margin-bottom: 1.7rem;
}
.plan__text {
  font-size: 16px;
  line-height: 1.4;

  color: #757575;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .service__plans {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
  }

  .plan {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media screen and (min-width: 768px) {
  .service {
    position: relative;
    overflow: hidden;
  }

  .service::after {
    content: '';
    display: block;
    height: 38.75rem;
    width: 100%;
    background: #f4f9ff;
    border-top-left-radius: 100px;

    position: absolute;
    z-index: -3;
    top: 8.75rem;
    left: 28.3%;
  }

  .service__container {
    display: flex;
    align-items: center;
    position: relative;
    gap: calc(1rem + 4.625 * (100vw - 48rem) / 42);
  }

  .service__container::before {
    content: '';
    display: inline-block;
    height: 154px;
    width: 405px;

    background: url(../images/Elipses-decor.png) no-repeat;

    position: absolute;
    left: 0;
    bottom: 70px;
    z-index: -1;
  }

  .service__content {
    flex: 0 0 34.8%;
    margin-bottom: 0;
  }
  .service__content.sector-decor::after {
    z-index: -1;
    top: -3.75rem;
    left: -2.375rem;
  }

  .service__plans {
    flex: 1 1 auto;
    column-count: 2;
    column-gap: 2.1rem;
  }

  .plan {
    background: #ffffff;
  }
  .plan:first-child {
    margin-top: 5rem;
  }

  .plan.circle-decor::after {
    bottom: -2.85rem;
    right: -2.5rem;
    z-index: -4;
  }
}

@media screen and (min-width: 992px) {
  .service__container {
    padding-right: calc(1rem + 3 * (100vw - 62rem) / 28);
  }
}

@media screen and (min-width: 1440px) {
  .service {
    margin-bottom: 9.125rem;
  }
  .service__container {
    gap: 5.625rem;
    padding-right: 4rem;
  }
  .service__title {
    margin-bottom: 2rem;
  }
}

/* Vision
========= */
.vision {
  margin-bottom: calc(1.5rem + 5.75 * (100vw - 20rem) / 70);
}
.vision__container {
  display: flex;
  flex-direction: column-reverse;
  gap: calc(1rem + 6.5 * (100vw - 20rem) / 70);
}

.vision__video-block > video {
  width: 100%;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
}

.vision__title {
  margin-bottom: calc(1rem + (100vw - 20rem) / 70);
}

@media screen and (min-width: 768px) {
  .vision {
    padding-bottom: calc(2.5rem + 1.5 * (100vw - 48rem) / 42);
  }
  .vision__container {
    flex-direction: row;
    align-items: center;
  }
  .vision__video-block {
    flex: 0 0 45.8%;
  }
  .vision__video-block.fill-circle-decor::before {
    background: #fff5db;

    right: -2.5rem;
    bottom: -4rem;
    z-index: -1;
  }
  .vision__content {
    flex: 1 1 auto;
  }

  .vision__content.sector-decor::after {
    background: #eff1ff;
    border-radius: 0px 0px 100px 0px;

    left: -2.5rem;
    top: -1.5rem;
    z-index: -1;
  }
}

@media screen and (min-width: 1440px) {
  .vision {
    padding-bottom: 4rem;
    margin-bottom: 7.25rem;
  }
  .vision__container {
    gap: 7.5rem;
  }
  .vision__title {
    margin-bottom: 2rem;
  }
}

/* Feedback
=========== */
.feedback {
  margin-bottom: calc(1.5rem + 4.25 * (100vw - 20rem) / 70);
}

.feedback__info {
  width: 100%;
  text-align: center;
  margin-bottom: calc(1.5rem + 5.5 * (100vw - 20rem) / 70);
}

.feedback__title {
  margin-bottom: 1rem;
}

.feedback__bottom > input {
  display: none;
}

/* ===== Slider ===== */
.slider {
  overflow: hidden;
}

.slider__pages {
  display: flex;

  transition: transform 0.5s ease;
  margin-bottom: 2.5rem;
}
#page-2:checked ~ .slider .slider__pages {
  transform: translateX(-100%);
}
#page-3:checked ~ .slider .slider__pages {
  transform: translateX(-200%);
}
#page-4:checked ~ .slider .slider__pages {
  transform: translateX(-300%);
}
#page-5:checked ~ .slider .slider__pages {
  transform: translateX(-400%);
}

.page {
  flex: 0 0 100%;
}

.page__title {
  margin-bottom: 1.375rem;
}

.slider__controls {
  display: flex;
  gap: 1.625rem;
}
.slider__controls {
  justify-content: center;
}

.slider__control {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;

  background: #e7f0fc;
  transition: background-color 0.3s linear;
}

.slider__control:hover {
  background: #84b6f8;
}

#page-1:checked ~ .slider label[for='page-1'],
#page-2:checked ~ .slider label[for='page-2'],
#page-3:checked ~ .slider label[for='page-3'],
#page-4:checked ~ .slider label[for='page-4'],
#page-5:checked ~ .slider label[for='page-5'] {
  background: #2639ed;
}

.feedback__portrait {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.feedback__portrait img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;

  transition: opacity 0.5s linear;
}
#page-1:checked ~ .feedback__portrait img[src*='1'],
#page-2:checked ~ .feedback__portrait img[src*='2'],
#page-3:checked ~ .feedback__portrait img[src*='3'],
#page-4:checked ~ .feedback__portrait img[src*='4'],
#page-5:checked ~ .feedback__portrait img[src*='5'] {
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .feedback__bottom {
    display: flex;
    gap: calc(1.5rem + 2.6 * (100vw - 36rem) / 54);
  }

  .slider {
    flex: 1 1 34.33%;

    margin-top: calc(1rem + 4.25 * (100vw - 36rem) / 54);
  }

  .slider__controls {
    justify-content: flex-start;
  }

  .feedback__portrait {
    flex: 0 0 50%;
    padding-bottom: 50%;
  }

  .feedback__portrait img {
    border-radius: 50% 0 50% 50%;
  }
}

@media screen and (min-width: 768px) {
  .feedback__portrait::after {
    z-index: -1;
    bottom: 3%;
    left: -2.57%;
  }
  .feedback__portrait::before {
    content: '';

    display: inline-block;
    height: 154px;
    width: 196px;

    position: absolute;
    z-index: -1;
    top: -42px;
    right: -37px;

    background: url(../images/Elipses-decor.png);
  }
}

@media screen and (min-width: 992px) {
  .feedback__portrait {
    flex-basis: 390px;
    padding-bottom: 390px;
  }
  .slider {
    flex-grow: 0;
  }

  .feedback__bottom {
    position: relative;
  }
  .feedback__bottom::after {
    content: '';

    flex: 0 1 29%;
    order: 2;
    background: url(../images/Feedback/Xutur-mutur.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .feedback__bottom::before {
    content: '';
    height: 120px;
    width: 120px;
    border-radius: 50%;

    background-color: #fff5db;

    position: absolute;
    right: 91px;
    top: 107px;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .feedback__bottom {
    position: relative;
  }

  .feedback__bottom::after {
    position: absolute;
    width: 348px;
    height: 355px;
    top: 0;

    right: calc(-1 * (1rem + 2.25 * (100vw - 77rem) / 13));
  }
  .feedback__bottom::before {
    height: 184px;
    width: 184px;
  }
}

@media screen and (min-width: 1440px) {
  .feedback__info {
    margin-bottom: 7rem;
  }

  .feedback__bottom {
    gap: 4.1rem;
  }

  .feedback__bottom::after {
    right: -3.25rem;
  }

  .slider {
    margin-top: 5.25rem;
  }
}

/* Newsletter
============= */
.newsletter {
  margin-bottom: calc(1.75rem + 5 * (100vw - 20rem) / 70);
}

.newsletter__container {
  border-radius: 75px;
  padding: calc(1.625rem + 4.5 * (100vw - 20rem) / 70);
  padding-left: calc(1.75rem + 4 * (100vw - 20rem) / 70);
}

.newsletter__title {
  margin-bottom: 1rem;
}

.newsletter__info {
  margin-bottom: calc(1.5rem + 2 * (100vw - 20rem) / 28);
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow: hidden;
}

.newsletter__input {
  border: 5px solid #2639ed;
  border-radius: 2rem;
  padding: 5px 8px;
  font-size: 16px;
  line-height: 1.25;
}
.newsletter__input::placeholder {
  color: #959595;
}

.newsletter__button {
  font-size: 1rem;
  flex: 0 0 auto;
}

@media screen and (min-width: 480px) {
  .newsletter__form {
    background: #ffffff;
    border: 1px solid #f1f1f1;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 3.75rem;

    padding: 10px;
    padding-left: 34px;

    flex-direction: row;
    align-items: center;
  }

  .newsletter__input {
    border: none;
    border-radius: 0;
    padding: 0;
    flex: 1 0 185px;
  }
}

@media screen and (min-width: 576px) {
  .newsletter__container {
    background: #f4f9ff url(src/assets/icons/Newsletter-bg.svg) no-repeat right center;
    background-size: auto 100%;
  }
}

@media screen and (min-width: 768px) {
  .newsletter__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .newsletter__container::after {
    bottom: -2.375rem;
    left: -2.375rem;
    z-index: -1;

    transform: rotate(-90deg);
  }

  .newsletter__info {
    flex: 1 1 40%;
    margin-bottom: 0;
  }
  .newsletter__info::before {
    content: '';

    display: inline-block;
    height: 154px;
    width: calc(8.5rem + 2.5 * (100vw - 75rem) / 15);
    position: absolute;
    top: -56px;
    left: 88.33%;
    z-index: -1;

    background: url(../images/Elipses-decor.png);
    overflow: hidden;
  }

  .newsletter__form {
    flex: 1 0 430px;
  }
}

@media screen and (min-width: 1440px) {
  .newsletter {
    margin-bottom: 6.75rem;
  }

  .newsletter__container {
    padding: 6.125rem;
    padding-left: 5.75rem;
  }

  .newsletter__info::before {
    width: 11rem;
  }
}

/* Footer
========= */
.footer__container {
  padding-top: calc(0.75rem + 3 * (100vw - 20rem) / 70);

  border-top: 1px solid #e4e4e4;
}

.footer__content {
  display: flex;
  gap: calc(1rem + 11 * (100vw - 20rem) / 70);
  flex-direction: column;
  margin-bottom: calc(0.5rem + 0.75 * (100vw - 20rem) / 70);
}

.footer__logo {
  font-size: 24px;
  line-height: 1.25;

  margin-bottom: calc(0.625rem + (100vw - 20rem) / 70);
}

.footer__text {
  font-size: 14px;
  line-height: 1.6;

  color: #565656;
}

.footer__nav {
  display: flex;
  gap: 0.5rem;
}

.navbar input {
  display: none;
}

.navbar__title {
  font-size: 20px;
  line-height: 1.25;
  -webkit-text-stroke: 0.4px #000000;
}

.navbar__link {
  font-size: 14px;
  line-height: 2;

  transition: color 0.2s linear;
}

/* ===== Social ===== */
.social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: calc(.875rem + (100vw - 20rem) / 70);
}

.social__icon {
  display: block;
  height: 36px;
  width: 36px;
}

.facebook-icon {
  fill: #3b5998;
}
.facebook-icon:hover {
  fill: #3167db;
}

.linkedin-icon {
  fill: #007ab9;
}
.linkedin-icon:hover {
  fill: #0282c2;
}

.twitter-icon {
  fill: #55acee;
}
.twitter-icon:hover {
  fill: #459cdf;
}

@media screen and (min-width: 1440px) {
  .social {
    margin-bottom: 1.875rem;
  }
}

.footer__copyright {
  font-size: 14px;
  line-height: 1.6;
  color: #a4a4a4;

  text-align: center;

  padding-top: calc(0.5rem + (100vw - 20rem) / 70);
  padding-bottom: calc(0.5rem + (100vw - 20rem) / 70);

  border-top: 1px solid #f2f2f2;
}

@media screen and (max-width: 479.98px) {
  .footer__nav {
    flex-direction: column;
  }

  .navbar {
    text-align: center;
    overflow: hidden;
  }

  .navbar__title {
    position: relative;
  }

  .navbar__title::after {
    content: url(../icons/less-button.svg);

    position: absolute;
    right: 0;
    top: 0;

    -webkit-transform-origin-y: 65%;
  }

  .navbar__list {
    height: 0;
    transition: height 0.5s ease;
  }

  #navbar-1:checked ~ .navbar__list {
    height: calc(4 * 28px);
  }

  #navbar-1:checked ~ label .navbar__title::after,
  #navbar-2:checked ~ label .navbar__title::after,
  #navbar-3:checked ~ label .navbar__title::after,
  #navbar-4:checked ~ label .navbar__title::after {
    transform: rotate(180deg);
  }

  #navbar-2:checked ~ .navbar__list {
    height: calc(3 * 28px);
  }

  #navbar-3:checked ~ .navbar__list {
    height: calc(3 * 28px);
  }

  #navbar-4:checked ~ .navbar__list {
    height: calc(2 * 28px);
  }
}

@media screen and (min-width: 480px) {
  .footer__nav {
    display: flex;

    justify-content: space-between;
    gap: 0.5rem;
  }

  .navbar__title {
    margin-bottom: 1.5rem;
  }

  .navbar__link:hover {
    color: #565656;
  }
}
@media screen and (min-width: 768px) {
  .footer__content {
    flex-direction: row;
  }

  .footer__info {
    flex: 0 1 270px;
  }

  .footer__nav {
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .footer__logo {
    margin-bottom: 1.625rem;
  }

  .footer__container {
    padding-top: 3.75rem;
  }

  .footer__content {
    gap: 12rem;
    margin-bottom: 1.25rem;
  }

  .footer__copyright {
    padding: 1.5rem 0 1rem;
  }
}
